{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="default-content">
        <div class="wrapper">
            {{ page.content }}
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}
