{% spaceless %}
    <!DOCTYPE html>
    <html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>{{ page.header.meta_title}}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="{{ page.header.meta_decription }}">
            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
            {% block stylesheets %}
                {% do assets.addCss('theme://css-compiled/style.css') %}
            {% endblock %}
            {{ assets.css() }}
            {% block javascripts %}
                {% do assets.addJs('jquery', 101) %}
                {% do assets.addJs('theme://js/greensock/TweenMax.min.js') %}
                {% do assets.addJs('theme://js/typingEffect.js') %}
            {% endblock %}
            {{ assets.js() }}
        {% endblock head %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NSCGTVM');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSCGTVM"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="slideshow">
            {% for slide in page.header.slideshow %}
                {% set media = page.media[slide.slide].url %}
                {% if slide.is_movie %}
                    {% set preview = page.media[slide.movie_pictures].url %}
                    <video data-txt="{{ slide.show_txt }}" data-duration="{{ slide.slide_duration }}" class="slide movie" loop muted autoplay poster="{{ preview }}" style="background-color: {{ slide.movie_color }}">
                        <source src="{{ media }}" type="video/mp4">
                    </video>
                {% else %}
                    <div data-txt="{{ slide.show_txt }}" data-duration="{{ slide.slide_duration }}" class="slide pictures" style="background-image: url('{{ media }}');">
                        <!--<img class="logo" src="{{ page.media[slide.logo].url }}" />-->
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="slideshow-txt">
            {% set count = 1 %}
            {% for txt in page.header.slideshow_txt %}
                <div id="txt-{{ count }}" class="slide-txt">
                    <span class="txt-top">
                        <span>{{ txt.initial_txt|t }}</span>
                    </span>
                    <span class="txt-effect">
                        <noscript>{{ txt.text }}</noscript>
                    </span>
                </div>
                {% set count = count + 1 %}
            {% endfor %}
        </div>
        <div class="triangle"></div>
        <div class="content">
            <img src="{{ theme_url }}/images/maison9_logo_rvb.svg" />
            <a href="mailto:hello@maison9.ch">hello@maison9.ch</a>
            <a href="tel:0041794629644">+41 (0)79 462 96 44</a>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/M9MarketingImmo"><i class="fab fa-facebook-f"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/maison9_marketing_vente_immo/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        {% block footer_javascript %}
            {% do assets.addJs('theme://js/slideshow.js') %}
        {% endblock %}
        {{ assets.js() }}
    </body>
    </html>
{% endspaceless %}