{% spaceless %}
    <!DOCTYPE html>
    <html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>{{ page.header.meta_title}}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="{{ page.header.meta_decription }}">
            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
            {% block stylesheets %}
                {% do assets.addCss('theme://css-compiled/style.css') %}
            {% endblock %}
            {{ assets.css() }}
            {% block javascripts %}
                {% do assets.addJs('jquery', 101) %}
                {% do assets.addJs('theme://js/greensock/TweenMax.min.js') %}
                {% do assets.addJs('theme://js/typingEffect.js') %}
            {% endblock %}
            {{ assets.js() }}
        {% endblock head %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NSCGTVM');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body class="scroll">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSCGTVM"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="triangle"></div>
    <div class="content">
        <!--<img src="{{ theme_url }}/images/maison9_logo_rvb.svg" />
        <a href="mailto:hello@maison9.ch">hello@maison9.ch</a>
        <a href="tel:0041794629644">+41 (0)79 462 96 44</a>
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/M9MarketingImmo"><i class="fab fa-facebook-f"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/maison9_marketing_vente_immo/"><i class="fab fa-instagram"></i></a></li>
        </ul>-->
        <h2 style="font-weight:600;font-size:3rem;line-height:4rem;">
            <a style="font-weight:600;font-size:2.5rem;line-height:3.5rem;" href="mailto:aldo.federici@maison9.ch">Aldo Federici</a>
        </h2>
        <a href="tel:0041796062507">+41 (0)79 606 25 07</a>
    </div>
    <section class="page-promo">
        <header>
            <div class="wrapper">
                <div style="background-image: url('{{ page.media[header.top_image].url }}');">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </header>
        <div class="main">
            {% for item in header.contents %}
                <div class="row" style="background-color: {{ item.color_bg }}">
                    <div class="wrapper">
                        <div class="col left">
                            {% if item.content_type == 'left' %}
                                <div class="content-info">
                                    {{ item.content|markdown }}
                                </div>
                            {% else %}
                                <div class="image" style="background-image: url('{{ page.media[item.image_left].url }}');">
                                    <img src="{{ theme_url }}/images/square_background.png" />
                                    {% if item.label_image_left %}
                                        <p>{{ item.label_image_left }}</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col right">
                            {% if item.content_type == 'right' %}
                                <div class="content-info">
                                    {{ item.content|markdown }}
                                </div>
                            {% else %}
                                <div class="image" style="background-image: url('{{ page.media[item.image_right].url }}');">
                                    <img src="{{ theme_url }}/images/square_background.png" />
                                    {% if item.label_image_right %}
                                        <p>{{ item.label_image_right }}</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <footer>
            <div class="wrapper">
                <div>
                    <a style="font-weight:600;" href="mailto:aldo.federici@maison9.ch">Aldo Federici</a>
                    <a href="tel:0041796062507">+41 (0)79 606 25 07</a>
                </div>
            </div>
        </footer>
        <!--<footer>
            <div class="wrapper">
                <div>
                    <img src="{{ theme_url }}/images/maison9_logo_rvb.svg" />
                </div>
                <div>
                    <a href="mailto:hello@maison9.ch">hello@maison9.ch</a>
                    <a href="tel:0041794629644">+41 (0)79 462 96 44</a>
                </div>
            </div>
        </footer>-->
    </section>
    {% block footer_javascript %}
        {% do assets.addJs('theme://js/slideshow.js') %}
    {% endblock %}
    {{ assets.js() }}
    </body>
    </html>
{% endspaceless %}