{% spaceless %}
    <!DOCTYPE html>
    <html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
        <head>
            {% block head %}
                <meta charset="utf-8" />
                <title>{{ page.header.meta_title}}</title>
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="description" content="{{ page.header.meta_decription }}">
                {{ page.find('/configurations').header.googletag_console }}
                <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
                {% block stylesheets %}
                    {% do assets.addCss('theme://css-compiled/style.css') %}
                {% endblock %}
                {{ assets.css() }}
                {% block javascripts %}
                    {% do assets.addJs('jquery', {'priority':101, 'loading':'async'}) %}
                    {% do assets.addJs('theme://js/greensock/TweenMax.min.js', {'priority':102, 'loading':'async'}) %}
                {% endblock %}
                {{ assets.js() }}
                {{ page.find('/configurations').header.googletag_head }}googletag_console
            {% endblock head %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-NSCGTVM');</script>
            <!-- End Google Tag Manager -->
        </head>
        <body>
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSCGTVM"
                              height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
            {{ page.find('/configurations').header.googletag_head }}
            <header>

            </header>
            <div class="content" role="main">
                {% block content %}{% endblock %}
            </div>
            {% block footer_javascript %}
            {% endblock %}
            {{ assets.js() }}
        </body>
    </html>
{% endspaceless %}