<ul class="nav-main">
    {% for menu in page.find('/configurations').header.navigation_top %}
        {% set pageCurrent = (menu.internal_url) ? page.find(menu.internal_url) : page %}
        {% set active = (pageCurrent.active and menu.internal_url) ? 'active' : '' %}
        {% set link = (menu.internal_url) ? page.find(menu.internal_url).url :  menu.external_url %}
        {% set target = (menu.internal_url) ? '_self' :  '_blank' %}
        <li class="{{ active }} {{ menu.class }}">
            <a href="{{ link }}">
                <span>{{ menu.name }}</span>
            </a>
            {% if menu.children %}
                <ul>
                    {% for child in menu.children %}
                        {% set pageCurrent = (child.internal_url) ? page.find(child.internal_url) : page %}
                        {% set active = (pageCurrent.active and child.internal_url) ? 'active' : '' %}
                        {% set link = (child.internal_url) ? page.find(child.internal_url).url :  child.external_url %}
                        {% set target = (child.internal_url) ? '_self' :  '_blank' %}
                        <li>
                            <a href="{{ link }}">
                                <span>{{ child.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
