/**
 * Stylesheet MEOMEO.ch Theme
 * Author: MEO design & communication - Kyle Mobilia
 */

// Import Base SCSS
@import 'https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900';

@import 'variables';
@import 'mixins';
@import 'mediaqueries';
@import 'reset';

%fullscreen {
  width: 100%;
  height: 100%;
}

%slide {
  top: 0;
  left: 0;
  position: absolute;
  @extend %fullscreen;
}

html {
  @extend %fullscreen;

  body {
    @extend %fullscreen;
    position: relative;
    overflow: hidden;
    background-color: #000;
    font-family: 'Tajawal', sans-serif;

    &.scroll {
      background-color: #fff;
      overflow-y: scroll;
    }
    .slideshow {
      @extend %slide;

      .slide {
        @extend %slide;

        &.movie {
          background-color: #ffe486;
          background-position: center;
          background-size: cover;
        }
        &.pictures {
          background-position: center;
          background-size: cover;
        }
        img.logo {
          top: 30px;
          right: 30px;
          width: 250px;
          position: absolute;
        }
      }
    }
    .slideshow-txt {
      @extend %slide;
      .slide-txt {
        display: none;
        width: 85%;
        position: absolute;
        bottom: 10vh;
        right: 10%;
        z-index: 100;
        color: white;
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.5rem;
        text-align: right;
        text-shadow: 0px 0px 15px rgba(50, 50, 50, 0.2);
        @include mq-s {
          width: 85%;
          font-size: 2.5rem;
          line-height: 3rem;
        }
        span.txt-top {
          display: block;
          font-weight: 300;
          font-size: 1.5rem;
          line-height: 2.5rem;
          height: 2.5rem;
          overflow: hidden;
          span {
            top: 2.5rem;
            position: relative;
          }
        }
        span.txt-effect {

          &.cursor:after {
            content:"|";
            opacity: 0;
            animation: cursor 1s infinite;
          }
          @keyframes cursor {
            0% {
              opacity: 0;
            }
            40% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            90% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
    div.triangle {
      top: 0;
      left: -350px;
      width: 0;
      height: 0;
      z-index: 99;
      border-style: solid;
      border-width: 350px 450px 0 450px;
      border-color: #ffffff transparent transparent transparent;
      position: absolute;
      @include mq-s {
        border-width: 230px 300px 0 300px;
        left: -250px;
      }
    }
    div.content {
      width: 250px;
      height: 250px;
      overflow: visible;
      position: relative;
      padding: 45px 60px;
      z-index: 100;
      @include mq-s {
        width: 170px;
        height: 170px;
        padding: 25px 30px;
      }
      img {
        max-width: 100%;
        margin-bottom: 30px;
        @include mq-s {
          margin-bottom: 15px;
        }
      }
      a {
        display: block;
        font-size: 20px;
        margin-bottom: 5px;
        color: #000;
        text-decoration: none;
        @include mq-s {
          font-size: 16px;
        }
      }
      ul {
        margin-top: 10px;
        li {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
    section.page-promo {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      position: absolute;

      > header {
        width: calc(100% - #{$gutter}*2);
        height: calc(100vh - #{$gutter}*2);
        margin: $gutter;

        > .wrapper {
          height: 100%;
          width: 100%;

          > div {
            width: 100%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            > h1 {
              bottom: $gutter;
              right: $gutter;
              color: white;
              font-weight: 700;
              font-size: 4rem;
              line-height: 4.5rem;
              text-align: right;
              position: absolute;
              text-transform: uppercase;
              text-shadow: 0px 0px 15px rgba(50, 50, 50, 0.2);
            }
          }
        }
      }
      div.main {
        width: 100%;

        > .row {
          width: calc(100% - #{$gutter}*2);
          padding: $gutter 0;
          margin: 0 auto $gutter auto;

          > .wrapper {
            width: 100%;
            display: flex;
            max-width: 1500px;
            flex-wrap: wrap;
            margin: 0 auto;

            > .col {
              flex: auto;
              display: flex;
              align-items: center;
              width: calc(50% - #{$gutter}/2);

              @include mq-s {
                width: calc(100% - #{$gutter});
              }

              h2 {
                font-size: 2.5rem;
                line-height: 4rem;
                text-transform: uppercase;
              }

              p {
                margin-bottom: 10px;
                font-size: 1rem;
                line-height: 1.2rem;
                font-weight: 300;
              }

              > .image {
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                > img {
                  width: 100%;
                  max-width: 100%;
                }

                > p {
                  font-weight: 600;
                  text-align: center;
                }
              }

              &.left {
                padding-right: $gutter/2;

                @include mq-s {
                  padding-right: 0;
                  padding: 0 $gutter $gutter $gutter;
                }
              }

              &.right {
                padding-left: $gutter/2;

                @include mq-s {
                  padding-left: 0;
                  padding: 0 $gutter;
                }
              }
            }
          }
        }
      }
      footer {
        width: calc(100% - #{$gutter}*2);
        padding: $gutter;
        > .wrapper {
          width: 100%;
          display: flex;
          max-width: 1500px;
          flex-wrap: wrap;
          margin: 0 auto;

          > div {

            &:first-child {
              margin-right:  $gutter;
              > img {
                width: 250px;
              }
            }

            &:last-child {
              a {
                color: #000;
                text-decoration: none;
                display: block;
                line-height: 1.2rem;
              }
              ul {
                display: block;
                margin: 0 auto;
                li {
                  display: inline-block;
                  margin-right: 5px;
                  &:last-child {
                    margin-right: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}